﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="3" MadCap:lastHeight="851" MadCap:lastWidth="650">
    <head><title>Using Encryption</title>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Using Encryption</h1>
        <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName" /> offers at-rest bucket and object encryption. Currently the <MadCap:variable name="S3 Connector Variables.ComponentName" /> supports cryptographic key management only with Gemalto SafeNet for production deployments, although an option also exists to use a less secure, but still functional, static encryption file, which can be deployed in proof-of-concept environments. Refer to the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span>  for more information about setting up the SafeNet key management service for the <MadCap:variable name="S3 Connector Variables.ComponentName" />.</p>
        <p style="text-align: left;">If a user wants to deploy a bucket with encrypted data, the bucket must be created with the <cite>create_encrypted_bucket.js</cite>  tool supplied with the <MadCap:variable name="S3 Connector Variables.ComponentName" />. After the bucket is created, an encrypted key specific to the bucket is created in SafeNet. This key is identified by what is called the "master key id".</p>
        <p style="text-align: left;">When an object is created in the bucket, the <MadCap:variable name="S3 Connector Variables.ComponentName" /> generates a "data key". This data key is used to encrypt the object data. A request is sent to SafeNet to encrypt the data key with the help of the master key id. SafeNet sends back the encrypted data key and the <MadCap:variable name="S3 Connector Variables.ComponentName" /> stores the encrypted object, and includes the encrypted data key in the metadata for the encrypted object.</p>
        <p style="text-align: left;">Then, when a user sends a GET request for the encrypted object, the <MadCap:variable name="S3 Connector Variables.ComponentName" /> retrieves the encrypted object and reads its metadata to obtain the encrypted data key. The <MadCap:variable name="S3 Connector Variables.ComponentName" /> then sends a request to SafeNet to decipher the encrypted data key with the help of the master key. SafeNet returns the data key in clear, which allows the <MadCap:variable name="S3 Connector Variables.ComponentName" /> to decrypt the data and send it to the user.</p>
        <p style="text-align: left;">At no time is a request made for a password or for user intervention relative to the encryption and decryption, other than at the moment of bucket creation.</p>
        <h2 MadCap:conditions="" MadCap:autonum="1.1. &#160;">Configuring HTTPS for Inter-Component Communication</h2>
        <p MadCap:conditions="" style="text-align: left;">The HTTPS protocol is optional. If using HTTPS for inter-component communication, it is necessary to provide at least a certificate and a private key file to configure HTTPS. It is highly recommended that the certificate be signed by a well-known Certification Authority (CA), in which case the path to the CA's certificate file can also be configured.</p>
        <p MadCap:conditions="" style="text-align: left;">Configure HTTPS&#160;for inter-component communication by uncommenting and setting the following parameters in the <cite>env/{{my_setup_env}}/group_vars/all</cite> template (refer to the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span> for additional information about the group variables template):</p><pre MadCap:conditions="" xml:space="preserve"># env_tls_cert: /tmp/testcert/cert.pem
# env_tls_key: /tmp/tescert/key.pem
# env_tls_ca: /tmp/testcert/ca.pem</pre>
        <p class="Note" style="text-align: left;">The certificate files must be deployed to the same path on all target machines and have the same names.</p>
        <p MadCap:conditions="" style="text-align: left;">If the certificate file paths in the group variables template are set before installation, the <cite>config.json</cite> file is automatically updated with the entered information.</p>
        <h2 style="text-align: left;" MadCap:autonum="1.2. &#160;">Signing a Request with Auth v4</h2>
        <p>
            <p style="text-align: left;">Generate the V4 signature using AWS SDKs. For more information, refer to <a href="http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html">http://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html</a> and <a href="http://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html">http://docs.aws.amazon.com/general/latest/gr/sigv4-signed-request-examples.html</a>.</p>
        </p>
    </body>
</html>