﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="846" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Modifying the Inventory File Template</h1>
        <p>Declare the machines you are planning to deploy to in the <cite>inventory</cite> template file that you copy to your deployment server under <cite>env/{{my_setup_env}}</cite>.</p>
        <p>The following is a template file with 5 servers (required) set for the S3 Metadata components and the same 5 servers (the number and addresses of these servers can be different) for the <MadCap:variable name="S3 Connector Variables.ComponentName" />s and sproxyd connectors. <MadCap:conditionalText MadCap:conditions="Version.GA">Five (5) S3 Vault server instances are also set on machines used by the connectors and S3 Metadata components</MadCap:conditionalText>, and a logger instance is also set.</p>
        <p class="Note">S3 Vault stores its account information in the installed S3 Metadata components. Each S3 Vault instance that you install is therefore able to access account information created by a companion S3 Vault component.</p>
        <p class="codeparatext">[runners_metadata]</p>
        <p class="codeparatext">server1.scality.example.com  env_metadata_map_port=4200</p>
        <p class="codeparatext">server2.scality.example.com  env_metadata_map_port=4200</p>
        <p class="codeparatext">server3.scality.example.com  env_metadata_map_port=4200</p>
        <p class="codeparatext">server4.scality.example.com  env_metadata_map_port=4200</p>
        <p class="codeparatext">server5.scality.example.com  env_metadata_map_port=4200</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">[runners_s3]</p>
        <p class="codeparatext">server1.scality.example.com</p>
        <p class="codeparatext">server2.scality.example.com</p>
        <p class="codeparatext">server3.scality.example.com</p>
        <p class="codeparatext">server4.scality.example.com</p>
        <p class="codeparatext">server5.scality.example.com</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">[runners_vault]</p>
        <p class="codeparatext">server1.scality.example.com</p>
        <p class="codeparatext" MadCap:conditions="Version.GA">server2.scality.example.com</p>
        <p class="codeparatext" MadCap:conditions="Version.GA">server3.scality.example.com</p>
        <p class="codeparatext" MadCap:conditions="Version.GA">server4.scality.example.com</p>
        <p class="codeparatext" MadCap:conditions="Version.GA">server5.scality.example.com</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">[sproxyd]</p>
        <p class="codeparatext">server1.scality.example.com</p>
        <p class="codeparatext">server2.scality.example.com</p>
        <p class="codeparatext">server3.scality.example.com</p>
        <p class="codeparatext">server4.scality.example.com</p>
        <p class="codeparatext">server5.scality.example.com</p>
        <p class="codeparatext">&#160;</p>
        <p class="codeparatext">[loggers]</p>
        <p class="codeparatext_lastline">logger.scality.example.com</p>
        <p class="Note" MadCap:conditions="Version.OldInfoDoNotUSE">If you are installing HAProxy servers, you must add an [haproxies] setting to the environment inventory file, and list the HAProxy servers under that section. </p>
    </body>
</html>