/*<meta />*/

p
{
	margin-top: 0pt;
	font-family: 'Proxima Nova Rg';
	font-weight: 100;
	font-size: 11pt;
	margin-bottom: 8pt;
	text-align: justify;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
}

li
{
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	margin-bottom: 5pt;
	margin-top: 5pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
	padding: 2pt;
}

p.Header
{
	font-size: 11pt;
	margin-bottom: 0pt;
	font-family: Calibri;
}

p.Footer
{
	font-size: 11pt;
	margin-bottom: 0pt;
	font-family: 'Proxima Nova RG';
}

p.TOCHeading
{
	font-weight: normal;
	border-bottom-style: none;
	border-bottom-width: 0pt;
	border-bottom-color: black;
	margin-top: 12pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	text-align: left;
	mc-heading-level: 10;
	color: #2E74B5;
	font-size: 16pt;
	font-family: 'Geogrotesque SemiBold';
	page-break-before: always;
}

p.TOC1
{
	font-size: 11pt;
	margin-bottom: 5pt;
	font-family: 'Proxima Nova Rg';
}

p.TOC2
{
	font-size: 11pt;
	margin-bottom: 5pt;
	margin-left: 11pt;
	font-family: 'Proxima Nova Rg';
}

p.TOC3
{
	font-size: 11pt;
	margin-bottom: 5pt;
	margin-left: 22pt;
	font-family: 'Proxima Nova Rg';
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 18pt;
}

ul.ul_2
{
	list-style-type: disc;
	margin-left: 54pt;
}

span.HTMLCode
{
	font-size: 10pt;
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
	mc-disabled: false;
}

p.Tidbit
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	border: solid 2px;
	padding-left: 3pt;
	padding-right: 3pt;
	font-style: italic;
	padding: 4px;
	font-weight: 600;
	margin-left: 5em;
	margin-right: 5em;
}

span.ProperNameBold
{
	font-weight: bold;
	font-size: 11pt;
}

span.ProprietaryNonConventional
{
	font-style: italic;
	font-size: 11pt;
}

p.Strong
{
	font-weight: bold;
}

span.Hyperlink
{
	color: #0563C1;
	text-decoration: underline;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 14pt;
}

th.th_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #DDDDDD;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #DDDDDD;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #DDDDDD;
	background-color: #F0F0F0;
	padding-top: 1pt;
	padding-left: 1pt;
	padding-bottom: 1pt;
	padding-right: 1pt;
}

ul.ul_3
{
	list-style-type: disc;
	margin-left: 18pt;
}

span.Code_Terminal
{
	font-family: 'Courier New';
	mc-hyphenate: never;
}

li.NormalWeb
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

span.Strong
{
	font-weight: bold;
}

li.NormalWeb_1
{
	font-family: 'Times New Roman';
	font-size: 12pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
}

h1
{
	text-align: right;
	border-bottom: solid 1px;
	font-size: 20pt;
	font-family: 'Geogrotesque SemiBold';
	font-weight: 100;
	page-break-before: avoid;
	mc-auto-number-format: '{chapnum}.  ';
}

h2
{
	font-family: 'Geogrotesque Regular Italic';
	font-size: 16pt;
	page-break-before: auto;
	mc-auto-number-format: '{chapnum}.{Cn+}.  ';
}

img
{
	text-align: center;
}

img.AbsolutePosition
{
	
}

img.FiftyPercent
{
	max-width: 50%;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

img.OneHundredPercent
{
	max-width: 100%;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	display: block;
	text-align: inherit;
	padding: 10px;
	width: 100%;
}

img.ReduceButtonSize
{
	max-height: 18px;
}

img.SeventyFivePercent
{
	max-width: 75%;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	display: block;
}

frame
{
	
}

p.topmargin
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 13pt;
	font-weight: 100;
	margin-top: 8pt;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|breadcrumbsProxy
{
	mc-disabled: false;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptLinkControlList
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItem
{
	mc-disabled: false;
}

MadCap|conceptLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|conditionalText
{
	mc-disabled: false;
}

MadCap|dropDown
{
	mc-disabled: false;
}

MadCap|dropDownBody
{
	mc-disabled: false;
}

MadCap|dropDownHead
{
	mc-disabled: false;
}

MadCap|dropDownHotspot
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|equation
{
	mc-disabled: false;
}

MadCap|expanding
{
	mc-disabled: false;
}

MadCap|expandingBody
{
	mc-disabled: false;
}

MadCap|expandingHead
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|helpControlList
{
	mc-disabled: false;
}

MadCap|helpControlListItem
{
	mc-disabled: false;
}

MadCap|helpControlListItemLink
{
	mc-disabled: false;
}

MadCap|helpControlMenu
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
}

MadCap|indexProxy
{
	mc-disabled: false;
}

MadCap|keyword
{
	mc-disabled: false;
}

MadCap|keywordLink
{
	mc-disabled: false;
}

MadCap|keywordLinkControlList
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItem
{
	mc-disabled: false;
}

MadCap|keywordLinkControlListItemLink
{
	mc-disabled: false;
}

MadCap|listOfProxy
{
	mc-disabled: false;
}

MadCap|menuProxy
{
	mc-disabled: false;
}

MadCap|miniTocProxy
{
	mc-disabled: false;
	border-color: #960e76;
}

MadCap|model3D
{
	mc-disabled: true;
}

MadCap|namedDestination
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|popup
{
	mc-disabled: false;
}

MadCap|popupBody
{
	mc-disabled: false;
}

MadCap|popupHead
{
	mc-disabled: false;
}

MadCap|qrCode
{
	mc-disabled: false;
}

MadCap|relatedTopics
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlList
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItem
{
	mc-disabled: false;
}

MadCap|relatedTopicsControlListItemLink
{
	mc-disabled: false;
}

MadCap|relationshipsHeading
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.concept
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.reference
{
	mc-disabled: false;
}

MadCap|relationshipsHeading.task
{
	mc-disabled: false;
}

MadCap|relationshipsItem
{
	mc-disabled: false;
}

MadCap|relationshipsProxy
{
	mc-disabled: false;
}

MadCap|searchBarProxy
{
	mc-disabled: false;
}

MadCap|searchResultsProxy
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|slide
{
	mc-disabled: false;
}

MadCap|slideshow
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.active
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Start
{
	mc-disabled: false;
}

MadCap|slideshowAutoControls.Stop
{
	mc-disabled: false;
}

MadCap|slideshowBullet
{
	mc-disabled: false;
}

MadCap|slideshowBullet.active
{
	mc-disabled: false;
}

MadCap|slideshowCaption
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Next
{
	mc-disabled: false;
}

MadCap|slideshowNavigationControls.Previous
{
	mc-disabled: false;
}

MadCap|slideThumbnail
{
	mc-disabled: false;
}

MadCap|slideThumbnail.active
{
	mc-disabled: false;
}

MadCap|snippetBlock
{
	mc-disabled: false;
}

MadCap|snippetText
{
	mc-disabled: false;
}

MadCap|tocProxy
{
	mc-disabled: false;
	font-family: 'Proxima Nova Rg';
	width: 100%;
	border-top-style: none;
	page-break-after: always;
}

MadCap|toggler
{
	mc-disabled: false;
}

MadCap|topicToolbarProxy
{
	mc-disabled: false;
}

MadCap|variable
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: false;
}

MadCap|xref.IndexPageNumber
{
	mc-disabled: false;
}

MadCap|xref.ListOfPageNumber
{
	mc-disabled: false;
}

MadCap|xref.RelLinkPageNumber
{
	mc-disabled: false;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

h3
{
	font-family: 'Geogrotesque SemiBold';
	mc-auto-number-format: '{chapnum}.{Cn}.{n+}  ';
}

h4
{
	font-family: 'Geogrotesque SemiBold';
	font-size: 1em;
	mc-heading-level: 0;
}

h5
{
	font-family: 'Geogrotesque SemiBold';
	mc-heading-level: 0;
}

p.Note
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
	mc-hyphenate: never;
}

img.AbsoluteRight
{
	text-align: right;
}

p.ChapterNumber
{
	color: #000000;
	font-size: 110pt;
	font-family: 'Geogrotesque SemiBold';
	margin-bottom: 12pt;
	margin-top: 18pt;
	font-weight: normal;
	text-align: left;
	margin-left: 0in;
	page-break-after: avoid;
}

div.div
{
	margin-bottom: 6px;
}

div
{
	margin-bottom: 6pt;
}

span.SDLDocTitle1st
{
	color: #ffffff;
	font-size: 36pt;
	font-family: 'Geogrotesque Regular';
}

span.SDLDocTitle2nd	/*Title Page subheading*/
{
	font-size: 24pt;
	font-family: 'Geogrotesque Regular';
	color: #ffffff;
	text-indent: 3cm;
}

h1.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

h2.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

p.TOC1:before
{
	
}

MadCap|tocProxy.TOC1
{
	
}

table
{
	padding: 0pt;
}

p.codeparatext
{
	font-weight: 100;
	font-family: monospace;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	margin-left: 8em;
	margin-right: 5em;
	mc-hyphenate: never;
	font-size: 8pt;
}

p.codeparatext_lastline
{
	font-weight: 100;
	display: block;
	font-family: monospace;
	margin-top: 0pt;
	text-indent: -5.00em;
	margin-left: 8em;
	font-size: 8pt;
}

li.Listcodeparatext
{
	font-family: monospace;
	font-size: 9pt;
	display: block;
	margin-bottom: 0pt;
	margin-top: 0pt;
	text-indent: -5.00em;
	margin-left: 5em;
}

li.Listcodeparatext_lastline
{
	font-family: monospace;
	font-size: 9pt;
	display: block;
	margin-top: 0pt;
	text-indent: -5em;
	margin-bottom: 8pt;
	margin-left: 5em;
}

li.Listintable
{
	margin-top: 0pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	margin-bottom: 2pt;
}

span.PublicationName
{
	font-style: italic;
	font-size: 11pt;
}

span.Variable
{
	font-style: italic;
	font-size: 12pt;
	font-family: 'Courier New';
}

tr
{
	page-break-inside: avoid;
}

p.codeparatext_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5em;
	text-align: left;
	margin-left: 12em;
	font-size: 8pt;
}

p.codeparatext_indent_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	margin-left: 16em;
	font-size: 8pt;
}

p.codeparatext_indent_indent_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-indent: -5.00em;
	text-align: left;
	margin-left: 20.00em;
	font-size: 8pt;
}

p:before
{
	
}

fieldset
{
	mc-disabled: true;
}

p.Alert
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	margin-right: 0em;
	font-weight: bold;
	background-color: #696969;
	color: #ffffff;
}

p.InTableFormatted
{
	font-family: Calibri;
}

li.InTableFormatted
{
	font-family: Calibri;
}

p.TableFootnote
{
	margin-top: 0pt;
	font-family: 'Proxima Nova Rg';
	font-weight: 100;
	text-align: justify;
	font-size: 9pt;
	text-indent: 18px;
	margin-bottom: 5pt;
}

p.TOC4
{
	margin-bottom: 5pt;
}

p.TOC5
{
	margin-bottom: 5pt;
}

span.FileName
{
	font-style: italic;
	font-size: 11pt;
}

span.emphasisbox
{
	color: #000000;
}

p.emphasisBox
{
	border: solid 2px;
	padding: 4px;
}

li.codeparatext_li
{
	font-family: monospace;
	display: block;
	margin-bottom: 0pt;
	margin-top: 0pt;
	margin-right: 12pt;
	text-align: left;
	mc-leader-indent: 5pt;
	text-indent: -25pt;
	margin-left: 45pt;
	font-size: 8pt;
}

li.codeparatext_li_indent
{
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-right: 12pt;
	margin-left: 55pt;
	display: block;
	margin-top: 0pt;
	mc-leader-indent: 5pt;
	text-indent: -15pt;
	font-size: 8pt;
}

li.codeparatext_li_indent_lastline
{
	font-family: monospace;
	text-align: left;
	orphans: 0;
	widows: 0;
	text-indent: -5pt;
	margin-right: 12pt;
	margin-left: 55pt;
	display: block;
	margin-top: 0pt;
	margin-bottom: 3pt;
	font-size: 8pt;
}

li.codeparatext_li_lastline
{
	font-family: monospace;
	display: block;
	margin-top: 0pt;
	margin-right: 12pt;
	margin-left: 45pt;
	text-align: left;
	text-indent: -25pt;
	margin-bottom: 8pt;
	font-size: 8pt;
}

li.paraunder
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	display: block;
	margin-right: 12pt;
	padding-left: 0px;
}

li.paraunder_indent
{
	display: block;
	margin-left: -12pt;
}

li.paraunder_indent2
{
	font-size: 9pt;
	font-family: monospace;
	margin-bottom: 0pt;
	text-align: left;
	orphans: 0;
	widows: 0;
	margin-right: 12pt;
	display: block;
	margin-top: 0pt;
	mc-leader-indent: 5pt;
	text-indent: -15pt;
	margin-left: 65pt;
}

li.NoteUnder
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	margin-left: 0em;
	font-weight: bold;
	display: block;
	margin-right: 12pt;
}

li.NoteUnder_indent
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	background-color: #dcdcdc;
	font-weight: bold;
	display: block;
	margin-right: 14pt;
	margin-left: 30pt;
}

li.codeparatext_li_example
{
	font-size: 11pt;
	margin-bottom: 5pt;
	margin-top: 5pt;
	display: block;
	font-family: monospace;
}

h2.NoTOCentry
{
	mc-heading-level: 0;
	font-size: 13pt;
	margin-top: 1.5em;
	mc-auto-number-format: '{ } ';
}

p.DramaBox
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	word-spacing: 2px;
	padding-left: 3pt;
	padding-right: 3pt;
	padding: 4px;
	font-size: 12pt;
	margin-left: 0em;
	margin-right: 0em;
	border-color: #808080;
	font-style: normal;
	font-weight: bolder;
	font-variant: small-caps;
	border: double 3px;
}

h3.frontmatter
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
	page-break-before: auto;
}

h3.noTOC
{
	mc-heading-level: 0;
	mc-auto-number-format: '{ }';
}

pre
{
	font-size: 8pt;
	margin-left: 24pt;
	margin-top: 6pt;
}

li.AlertUnder
{
	margin-bottom: 8pt;
	font-family: 'Proxima Nova Rg';
	font-size: 11pt;
	word-spacing: 2px;
	padding: 2px;
	margin-left: 0em;
	font-weight: bold;
	display: block;
	margin-right: 12pt;
	background-color: #696969;
	color: #ffffff;
}

