﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="4" MadCap:lastHeight="811" MadCap:lastWidth="648" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <p class="ChapterNumber">11</p>
        <h1 MadCap:autonum="1. &#160;">S3 Metadata Disk Replacement</h1>
        <p style="text-align: left;">It is strongly recommended that the metadata be installed on a disk other than the disk containing the operating system.</p>
        <p class="Alert" style="text-align: left;">Should it be necessary to change the server or reinstall the operating system, be sure to retain the same IP address. </p>
        <p style="text-align: left;">For instructions on installing the S3 Metadata service, please refer to the <MadCap:variable name="General.SetupInstall" />.</p>
        <h2 MadCap:autonum="1.1. &#160;">Before Installing the S3 Metadata Service</h2>
        <ul>
            <li>
                <p><b>If the SSD is dedicated to metadata only</b>: Mount the metadata-dedicated disk(s) in the server at the original data mount point. You may have one disk for data and another for logs. </p>
                <p style="text-align: left;">To find the original mount point — Refer to this file in the Federation installation folder:</p>
                <p class="codeparatext_lastline" style="text-align: left;">env/{{ENV_NAME}}/group_var/all</p>
                <p style="text-align: left;">Then run this command:</p>
                <p class="codeparatext_lastline" style="text-align: left;">/usr/bin/grep env_host_data ./env/{{ENV_NAME}}/group_vars/all | cut -d\: -f2 | <br />/usr/bin/tr -d '[:space:]'</p>
            </li>
            <li><b>If the SSD is not dedicated to metadata only</b>: Follow the <a href="https://docs.scality.com/display/R6/Disk+Management+Interface">RING procedure for replacing the disk</a>. </li>
        </ul>
        <h2 MadCap:autonum="1.2. &#160;">Replacing a Lost Metadata Disk</h2>
        <ul>
            <li><b>If the SSD is dedicated to metadata only</b>: Mount your new disk to your original mount point. See the instructions above to find the original mount point.</li>
            <li><b>If the SSD is not dedicated to metadata only</b>: <a href="https://docs.scality.com/display/R6/Disk+Management+Interface">RING procedure for replacing the disk</a>, then recreate your metadata sub-folder.</li>
        </ul>
        <h2 MadCap:autonum="1.3. &#160;">Rerun the Metadata Service</h2>
        <p style="text-align: left;widows: 2;orphans: 5;">Follow the procedure to install/run the Metadata module on the server using the <code>-l {{SERVER_HOSTNAME}}</code> to limit the run to the replaced server. When Federation starts the Metadata containers, the node will load its data automatically from the backup. To ensure this, please tail the logs located in the path: <code>{{env_host_logs}}/scality-metadata/logs</code>. To find <code>{{env_host_logs}}</code>, follow the instructions above.</p>
        <p style="text-align: left; widows: 2; orphans: 5;">To check that your metadata node catches everything, run this command:</p>
        <p class="codeparatext_lastline">ansible-playbook -i $MY_IVENTORY_FILE tooling-playbooks/check-status-metadata.yml</p>
        <p>This command will dump a file located in <span class="FileName">/tmp/results.txt</span> and will list every Raft sessions state:</p>
        <p><span class="Variable">bseq</span> to know the number of backup entries loaded</p>
        <p><span class="Variable">aseq/cseq</span> to know the number of operation loaded</p>
        <p>The restored node should have the same <span class="Variable">bseq</span> and <span class="Variable">aseq/cseq</span> as the other nodes.</p>
    </body>
</html>